In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [30]:
matches = pd.read_csv('./dataset/atp_matches_till_2022.csv')
players = pd.read_csv('./dataset/atp_players_till_2022.csv')
rankings = pd.read_csv('./dataset/atp_rankings_till_2022.csv')

In [18]:
print(matches.keys())
print(players.keys())
print(rankings.keys())
matches.head()

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')
Index(['player_id', 'name_first', 'name_last', 'hand', 'dob', 'ioc', 'height',
       'wikidata_id'],
      dtype='object')
Index(['ranking_date', 'rank', 'player', 'points'], dtype='object')

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1968-2029,Dublin,Grass,32,A,19680708,270,112411,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1968-2029,Dublin,Grass,32,A,19680708,271,126914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1968-2029,Dublin,Grass,32,A,19680708,272,209523,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1968-2029,Dublin,Grass,32,A,19680708,273,100084,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1968-2029,Dublin,Grass,32,A,19680708,274,100132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# Cleaning the data.... 
matches_dropset = ['tourney_name', 'surface', 'draw_size', 'winner_seed', 'winner_entry',
       'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age', 'loser_seed', 'loser_entry', 'loser_hand', 'loser_ht', 
       'loser_ioc', 'loser_age', 'winner_rank_points', 'loser_rank_points', 'round','minutes', 'w_ace', 'w_df', 
       'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'winner_rank', 'loser_rank']
try:
       matches.drop(matches_dropset,inplace=True,axis=1)
except Exception as e:
       print("Keys not found")

# check if identifier is unique (can be used as primary key)
primary_keys = []
for k in matches.keys():
       if matches[k].is_unique:
              primary_keys.append(k)
print('All keys', matches.keys())
print('Primary keys',primary_keys)
matches.loc[20]

All keys Index(['tourney_id', 'tourney_level', 'tourney_date', 'match_num', 'winner_id',
       'winner_name', 'loser_id', 'loser_name', 'score', 'best_of'],
      dtype='object')
Primary keys []

tourney_id          1968-2029
tourney_level               A
tourney_date         19680708
match_num                 290
winner_id              109813
winner_name      Ken Fletcher
loser_id               209523
loser_name       Cecil Pedlow
score                 6-1 6-0
best_of                     3
Name: 20, dtype: object

In [43]:
md = matches.to_dict()
md['primary_key'] = {}
for i in md['tourney_id'].keys():
    md['primary_key'][i] = (md['tourney_date'][i],md['match_num'][i])
dataset = pd.DataFrame.from_dict(md)
primary_keys = []
for k in dataset.keys():
       if dataset[k].is_unique:
              primary_keys.append(k)
print('All keys', dataset.keys())
print('Primary keys',primary_keys)
dataset

All keys Index(['tourney_id', 'tourney_level', 'tourney_date', 'match_num', 'winner_id',
       'winner_name', 'loser_id', 'loser_name', 'score', 'best_of',
       'primary_key'],
      dtype='object')
Primary keys []

,tourney_id,tourney_level,tourney_date,match_num,winner_id,winner_name,loser_id,loser_name,score,best_of,primary_key
0,1968-2029,A,19680708,270,112411,Douglas Smith,110196,Peter Ledbetter,6-1 7-5,3,"(19680708, 270)"
1,1968-2029,A,19680708,271,126914,Louis Pretorius,209536,Maurice Pollock,6-1 6-1,3,"(19680708, 271)"
2,1968-2029,A,19680708,272,209523,Cecil Pedlow,209535,John Mulvey,6-2 6-2,3,"(19680708, 272)"
3,1968-2029,A,19680708,273,100084,Tom Okker,209534,Unknown Fearmon,6-1 6-1,3,"(19680708, 273)"
4,1968-2029,A,19680708,274,100132,Armistead Neely,209533,Harry Sheridan,6-2 6-4,3,"(19680708, 274)"
...,...,...,...,...,...,...,...,...,...,...,...
188156,2022-M-DC-2022-WG2-PO-GRE-JAM-01,D,20220304,4,209362,Aristotelis Thanos,209080,Blaise Bicknell,6-4 6-4,3,"(20220304, 4)"
188157,2022-M-DC-2022-WG2-PO-GRE-JAM-01,D,20220304,5,202065,Petros Tsitsipas,202120,Rowland Phillips,4-6 6-4 6-4,3,"(20220304, 5)"
188158,2022-M-DC-2022-WG2-PO-HKG-BEN-01,D,20220304,1,138846,Hong Kit Jack Wong,105278,Alexis Klegou,1-6 6-4 4-1 RET,3,"(20220304, 1)"
188159,2022-M-DC-2022-WG2-PO-HKG-BEN-01,D,20220304,2,209409,Coleman Wong,200583,Delmas Ntcha,6-4 6-4,3,"(20220304, 2)"
188160,2022-M-DC-2022-WG2-PO-HKG-BEN-01,D,20220304,4,208414,Sylvestre Monnou,207132,Ki Lung Ng,6-4 6-4,3,"(20220304, 4)"

In [ ]:
class Player:
    def __init__(self,player_id,player_name):
        self.id = player_id
        self.name = player_name
        self.rating = 1500 # initial Elo rating 
        self.surface_rating = {'hard':1500,'clay':1500,'grass':1500}
        self.matches = []
    
    def updateProfile(self,score:list,result:str,opponent):
        matches.append((opponent.id,score))

# Elo Details

## Penalty for Missing Matches

In [ ]:
# ELO Functions 

'''
    input: objects corresponding to player1, player2
    output: probability of player1 winning over player2
'''
def predict(player1,player2):
    difference = player1.rating - player2.rating
    return 1 - (1/(1 + 10^(difference/400)))